<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>结束项目</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/project/js/business-detail.js?version=${version}"></script>
</head>
<body>
<#include 'layout/hidden_ares.html' />
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>项目管理</li>
	    	<li>业务运营</li>
	    	<li>业务详情</li>
   		</ul>
   </div>
  <form id="jsForm">
	    <div class="form-body">
			<div class="form-title"><span>项目信息</span></div>
		    <ul class="form-info">
		    	<li><label>名称:</label><span id="name"></span></li>
		    	<li><label>服务类型:</label><span id="serve"></span></li>
		    	<li><label>报价模式:</label><span id="quote"></span></li>
		    	<li><label>总金额:</label><span id="totalAmount"></span></li>
		    	<li><label>总收益:</label><span id="totalProfit"></span></li>
		    	<li><label>操盘手:</label><span id="trader"></span></li>
		    	<li><label>开始时间:</label><span id="startDatetime"></span></li>
		    </ul>
		    <div class="form-title"><span>业务信息</span></div>
		    <ul class="form-info">
		    	<li><label>业务单号:</label><span id="code"></span></li>
		    	<li><label>业务名称:</label><span id="businessName"></span></li>
		    	<li><label>业务本金:</label><span id="principal"></span></li>
		    	<li><label>业务收益:</label><span id="profit"></span></li>
		    	<li><label>开始时间:</label><span id="businessStartDatetime"></span></li>
		    	<li><label>结束时间:</label><span id="businessEndDatetime"></span></li>
		    	<li><label>备注:</label><span id="businessRemark"></span></li>
		    </ul>
		    <ul class="form-info">
		    	<li><span>业务核算表</span></li>
		        <li> <table id="tableList"></table></li>
		    </ul>
		    <div class="form-title"><span>相关附件</span></div>
		    <ul class="form-info">
		    	<li><label><b>*</b>核算表(Excel):</label><a id="hsbUrl" href="" target="_blank"></a></li>
		    	<li><label><b>*</b>核算凭证(PDF):</label><a id="hspzUrl" href="" target="_blank"></a></li>
		    	<li><label><b>*</b>附件文档:</label><a id="fjUrl" href="" target="_blank"></a></li>
		    </ul>
		    <!--<div class="form-title"><span>审核结果</span></div>
		    <ul class="form-info">
		    	<li><label>审核结果:</label><span id="status"></span></li>
		    	<li><label>审核人:</label><span id="checkUser"></span></li>
		    	<li><label>审核时间:</label><span id="checkDatetime"></span></li>
		    </ul>  -->
		    <ul class="form-info">
		    	<li><input id="backBtn" type="button" class="btn margin-left-100" value="返回"/></li>
		    </ul>
	    </div>
    </form> 
</body>
</html>