<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>产品管理</title>
<#include 'layout/resources.html'/>
<link rel="stylesheet" href="${resourceUrl}/resources/common/css/jquery.edittable.min.css" />
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.edittable.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/product/js/model-addedit.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>型号管理</li>
	    	<li>型号设置</li>
	    	<li id="operContent">新增型号</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>型号信息</span></div>
	    	<!-- <li><input type="hidden" name="code" id="code"/></li> -->
		    <ul class="form-info">
		    	<li style="display:none;"><label></label><span id="code" ></span></li>
		        <li><label><b>*</b>所属产品:</label><select id="productCode" name="productCode" class="control-def"></select></li>
 		    	<li><label><b>*</b>型号名称:</label><input type="text" id="name" name="name" class="control-def"/></li>
 		    	<li><label><b>*</b>图片1:</label><input type="file" id="pic1" name="pic1" onchange="selectImage(this,'pic1');" /><img src="" id="img1" width="180" height="180"></img><b>请上传图片1建议大小500*500</b></li>
		    	<li><label><b>*</b>图片2:</label><input type="file" id="pic2" name="pic2" onchange="selectImage(this,'pic2');" /><img src="" id="img2" width="180" height="180"></img><b>请上传图片2建议大小500*500</b></li>
 		    	<li><label><b>*</b>图片3:</label><input type="file" id="pic3" name="pic3" onchange="selectImage(this,'pic3');" /><img src="" id="img3" width="180" height="180"></img><b>请上传图片3建议大小500*500</b></li>
 		    	<li><label><b>*</b>文本:</label><input type="text" id="description" name="description" class="control-def"/></li>
		    	<div id="edittable"></div>
		    </ul>
			<li>
			    <input id="subBtn" type="button" class="btn margin-left-100" value="保存"/>
			    <input id="backBtn" type="button" class="btn margin-left-20" value="返回"/>
			</li>
			
	    </div>
    </form>
</body>
</html>
