<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>角色设置</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/product/js/price_addedit.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>产品管理</li>
	    	<li>产品设置</li>
	    	<li id="operContent">标价新增</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span></span></div>
		    <ul class="form-info">
		    	<li style="display:none;"><label>型号编号:</label><span id="modelCode"></span></li>
		    	<li><label>所属产品:</label><span id="productCode"></span></li>
 		    	<li><label>型号名称:</label><span  id="name" ></span></li>
 		    	<li><label>图片1:</label><span id="pic1"></span><img src="" id="img1" width="180" height="180"></img></li>
 		    	<li><label>图片2:</label><span id="pic2"></span><img src="" id="img2" width="180" height="180"></img></li>
 		    	<li><label>图片3:</label><span id="pic3"></span><img src="" id="img3" width="180" height="180"></img></li>
 		    	<li><label>文本:</label><span id="description"></span></li>
 		    	<li>产品参数：</li><span style="width:200px"></span><div id="tableList"></div>
		        <li><label><b>*</b>标价:</label><input id="originalPrice" name="originalPrice" class="control-def" onkeyup="checknum(this);"/></li>
			    <li>
			    <input id="subBtn" type="button" class="btn margin-left-100" value="保存"/>
			    <input id="backBtn" type="button" class="btn margin-left-20" value="返回"/>
			    </li>
			</ul>
	    </div>
    </form>
</body>
</html>
