<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title></title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/product/js/product-addedit.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>产品信息</span></div>
	    	<!-- <li><input type="hidden" name="code" id="code"/></li> -->
		    <ul class="form-info">
		    	<li style="display:none;"><label></label><input id="code" name="code" class="control-def"/></li>
 		    	<li><label><b>*</b>品类名称:</label><input type="text" id="name" name="name" class="control-def"/></li>
 		    	<li><label><b>*</b>广告语:</label><input type="text" id="advTitle" name="advTitle" class="control-def"/></li>
 		    	<li><label><b>*</b>广告图:</label><input type="file" id="advPic" name="advPic" onchange="selectImage(this,'img1');" /><img src="" id="img1" width="180" height="180"></img><b> 上传图片建议大小500*500</b></li>
 		    	<li><label><b>*</b>UI大类:</label><select id="category" name="category" class="control-def"></select></li>
 		    	<li><label><b>*</b>UI小类:</label><select id="type" name="type" class="control-def"></select></li>
 		    	<li><label><b>*</b>小类图片:</label><input type="file" id="typePic" name="typePic" onchange="selectImage(this,'img2');" /><img src="" id="img2" width="180" height="180"></img><b> 上传图片建议大小500*500</b></li>
 		    	<li><label><b>*</b>UI次序:</label><input type="text" id="orderNo" name="orderNo" class="control-def"/></li>
 		    	<li><label><b>*</b>启用:</label>
 		    		<input type="radio" name="status" value="1" checked="checked" />是 
					<input type="radio" name="status" value="0" />否
				</li>
			    <li><label>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li>
			    <input id="subBtn" type="button" class="btn margin-left-100" value="保存"/>
			    <input id="backBtn" type="button" class="btn margin-left-20" value="返回"/>
			    </li>
			</ul>
	    </div>
    </form>
</body>
</html>
