<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>产品管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/product/js/product-detail.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>产品管理</li>
	    	<li>产品管理</li>
	    	<li id="operContent">产品详情</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>产品信息</span></div>
	    	<li><input type="hidden" name="code" id="code"/></li>
		    <ul class="form-info">
 				<li><label>产品类型:</label><span id="type"></span></li>
 		    	<li><label>产品名称:</label><span  id="name" ></span></li>
 		    	<li><label>广告语:</label><span id="advTitle" ></span></li>
 		    	<li><label>广告图:</label><span id="advPic"></span><img src="" id="img1" width="180" height="180"></img></li>
 		    	<li><label>主推图:</label><span id="majorPic"></span><img src="" id="img2" width="180" height="180"></img></li>
 		    	<li><label>主推文本:</label><span id="majorText"></span></li>
 		    	<li><label>全家福图:</label><span id="familyPic"></span><img src="" id="img3" width="180" height="180"></img></li>
 		    	<li><label>全家福文本:</label><span id="familyText" /></li>
 		    	<li><label>亮点图:</label><span id="highlightPic"></span><img src="" id="img4" width="180" height="180"></img></li>
			    <li><label>亮点文本:</label><span id="highlightText" ></span></li>
			    <li><label>备注:</label><span id="remark" ></span></li>
			    <li><label>更新人:</label><span id="updater" ></span></li>
			    <li>
			    <input id="backBtn" type="button" class="btn margin-left-20" value="返回"/>
			    </li>
			</ul>
	    </div>
    </form>
</body>
</html>