<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>角色设置</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/product/js/product-addedit.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>产品管理</li>
	    	<li>产品设置</li>
	    	<li id="operContent">新增产品</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>产品信息</span></div>
	    	<!-- <li><input type="hidden" name="code" id="code"/></li> -->
		    <ul class="form-info">
		    	<li style="display:none;"><label></label><input id="code" name="code" class="control-def"/></li>
		        <li><label><b>*</b>产品类型</label><select id="type" name="type" class="control-def"></select></li>
 		    	<li><label><b>*</b>产品名称:</label><input type="text" id="name" name="name" class="control-def"/></li>
 		    	<li><label><b>*</b>广告语:</label><input type="text" id="advTitle" name="advTitle" class="control-def"/></li>
 		    	<li><label><b>*</b>广告图:</label><input type="file" id="advPic" name="advPic" onchange="selectImage(this,'advPic');" /><img src="" id="img1" width="180" height="180"></img><b>请上传广告图建议大小500*500</b></li>
 		    	<li><label><b>*</b>主推图:</label><input type="file" id="majorPic" name="majorPic" onchange="selectImage(this,'majorPic');" /><img src="" id="img2" width="180" height="180"></img><b>请上传主推图建议大小500*500</b></li>
 		    	<li><label><b>*</b>主推文本:</label><input type="text" id="majorText" name="majorText" class="control-def"/></li>
 		    	<li><label><b>*</b>全家福图:</label><input type="file" id="familyPic" name="familyPic" onchange="selectImage(this,'familyPic');" /><img src="" id="img3" width="180" height="180"></img><b>请上传全家福图建议大小500*500</b></li>
 		    	<li><label><b>*</b>全家福文本:</label><input type="text" id="familyText" name="familyText" class="control-def"/></li>
 		    	<li><label><b>*</b>亮点图:</label><input type="file" id="highlightPic" name="highlightPic" onchange="selectImage(this,'highlightPic');" /><img src="" id="img4" width="180" height="180"></img><b>请上传亮点图建议大小500*500</b></li>
			    <li><label><b>*</b>亮点文本:</label><input type="text" id="highlightText" name="highlightText" class="control-def"/></li>
			    <li><label>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li>
			    <input id="subBtn" type="button" class="btn margin-left-100" value="保存"/>
			    <input id="backBtn" type="button" class="btn margin-left-20" value="返回"/>
			    </li>
			</ul>
	    </div>
    </form>
</body>
</html>
