<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>订单管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/logistics/js/product_search.js?version=${version}"></script>
</head>
<body>
	<#include 'layout/hidden_ares.html'/>
	<div class="place">
	    <span>位置：</span>
	    <ul>
		    <li>物流单查询</li>
		    <li>在途货品查询</li>
	    </ul>
    </div>
    <div class="right-info">
         <!-- 搜索表单 -->
    	 <form class="search-form">
        	<ul>
        		<li><label>货品编号</label><input type="text" id="code"/></li>
	            <li><label>所属物流单</label><input type="text" id="logisticsCode"/></li>
	            <li>
	                <input id="searchBtn" type="button" class="btn" value="查询" />
	                <input type="reset" class="btn" value="重置" />
	            </li>
        	</ul>
    	</form>
    	<!-- 操作按钮 -->
    	<div class="tools">
		   <ul class="toolbar">
	       </ul>
	    </div>
	    <!-- 表格 -->
	    <table id="tableList"></table>
    </div>
</body>
</html>
