<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>订单管理</title>
<#include 'layout/resources.html'/>
<link rel="stylesheet" href="${resourceUrl}/resources/common/css/jquery.edittable.min.css" />
<script type="text/javascript" src="${resourceUrl}/resources/common/js/qrcode.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/jquery.edittable.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/logistics/js/product-input.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>物流管理</li>
	    	<li>发货录入</li>
	    	<li id="operContent">物流信息录入</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    	<div class="form-title"><span>订单基本详情</span></div>
		    <div class="form-info row">
		    	<div class="col-md-6">
		    		<li><label>关联发货单号:</label><span id="invoiceCode"></span></li>
	 		    	<li><label><b>*</b>物流公司:</label><select id="company" name="company" class="control-def"></select></li>
	 		    	<li><label><b>*</b>物流单号:</label><input id="code" name="code" class="control-def"/></li>
	 		    	<li><label><b>*</b>发货时间:</label><input id="deliveryDatetime" name="deliveryDatetime" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/></li>
	 		    	<li><label><b>*</b>发货人:</label><input id="deliverer" name="deliverer" class="control-def"/></li>
		    	</div>
		    	<div class="col-md-2"><div></div>
 				</div>
 				<div class="col-md-4"><div>物流单专属二维码</div><div id="qrcode"></div>
 					<input style="display: none;" id="downloadBtn" type="button" class="btn margin-top-10" value="下载"/>
 				</div>
 		    	
 		    	<div class="form-title"><span></span></div>
				<div id="edittable"></div>
			    <div>
			   		 <input id="subBtn" type="button" class="btn margin-left-60" value="提交"/>
			        <input id="backBtn" type="button" class="btn margin-left-60" value="返回"/>
			    </div>
			</div>
	    </div>
    </form>
</body>
</html>