<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>开户管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/plat/js/account-long-edit.js?version=${version}"></script>
</head>
<body>
<#include 'layout/hidden_ares.html' />
   <div class="place">
	    <span>位置：</span>
	    <ul>
		    <li>平台管理</li>
		    <li>开户管理</li>
		    <li>账户管理</li>
		    <li>久悬更新</li>
	    </ul>
   </div>
   <form id="jsForm">
   		<input type="hidden" id="code" name="code" />
	    <div class="form-body">
	    <div class="form-title"><span>久悬更新</span></div>
		    <ul class="form-info">
			    <li><label>公司:</label><span id="companyName"></span></li>
			    <li><label>开户行:</label><span id="subbranch"></span></li>
			    <li><label>账户性质:</label><span id="kind"></span></li>
			    <li><label>币种:</label><span id="currency"></span></li>
			    <li><label>账号:</label><span id="cardNo"></span></li>
			    <li><label><b>*</b>最后一次流水时间:</label><input id="jourDatetime" name="jourDatetime" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/></li>
			    <li><label><b>*</b>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li><input id="subBtn" type="button" class="btn margin-left-100" value="提交"/><input id="backBtn" type="button" class="btn margin-left-20" value="返回"/></li>
			</ul>
	    </div>
    </form>
  </body>
  </html>