<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>开户指引</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/plat/js/account-guide.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html' />
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>平台管理</li>
	    	<li>账号管理</li>
	    	<li>开户指引(开户，是企业不可或缺的一环；开好一个户，对企业日常经营更是意义重大。)</li>
   		</ul>
    </div>
    <div class="right-info margin-left-40">
    	 <form class="search-form">
        	<ul>
                <li><label>开户公司:</label><select id="companyCode" onchange="onChangeCompany(this.value)"></select></li>
                <li class="margin-left-100"><label>开户支行:</label><select id="subbranchCode" onchange="onChangeBank(this.value)"></select></li>
        	</ul>
    	</form>
   </div>
   <div class="form-body">
   		<table class="common-table">
   			<tr>
   				<th>英文名称:</th><td><span id="ywName"></span></td>
   			</tr>
   			<tr>
   				<th>注册地址:</th><td><span id="zcAddress"></span></td>
   				<th>银行地址:</th><td><span id="address"></span></td>
   			</tr>
   			<tr>
   				<th>注册金额:</th><td><span id="capital"></span></td>
   				<th>客户经理:</th><td><span id="khjlPerson"></span></td>
   			</tr>
   			<tr>
   				<th>经营地址:</th><td><span id="jyAddress"></span></td>
   				<th>客户经理联系方式:</th><td><span id="khjlContact"></span></td>
   			</tr>
   			<tr>
   				<th>企业法人:</th><td><span id="frPerson"></span></td>
   				<th>备注:</th><td><span id="remark2"></span></td>
   				<!--<th>SWIFT CODE:</th><td><a id="swiftCode" href="" target="_blank"></a></td>-->
   			</tr>
   			<tr>
   				<th>大额变动提醒人:</th><td><span id="debdtxPerson"></span></td>
   				
   			</tr>
   			<tr>
   				<th>财务负责人:</th><td><span id="cwPerson"></span></td>
   			</tr>
   			<tr>
   				<th>网银录入人:</th><td><span id="wyRecorder"></span></td>
   			</tr>
   			<tr>
   				<th>网银复核人:</th><td><span id="wyChecker"></span></td>
   			</tr>
   			<tr>
   				<th>公司座机:</th><td colspan="3"><span id="telephone"></span></td>
   			</tr>
   			<tr>
   				<th>以上人员信息:</th><td colspan="3" style="padding-left: 15px;"><table id="personsTableList"></table></td>
   			</tr>
   			<tr>
   			</tr>
   			<tr>
   				<th>备注:</th><td><span id="remark"></span></td>
   			</tr>
   		</table>
   		
   	</div>
</body>
</html>