<#include 'layout/config.html' />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>售后管理</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/common/js/ajaxfileupload.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/account/js/paydetail_second.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <!-- 导航 -->
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>付款确认</li>
	    	<li id="operContent">首款确认</li>
   		</ul>
    </div>
    <!-- 表单 -->
    <form id="jsForm">
	    <div class="form-body">
	    	<div class="form-title"><span>发货单基本信息</span></div>
		    <ul class="form-info">
 				<li><label>编号:</label><span id="code"></span></li>
 		    	<li><label>下单用户:</label><span id="loginName"></span></li>
 		    	<li><label>下单说明:</label><span id="applyNote"></span></li>
 		    	<li><label>下单时间:</label><span  id="applyDatetime" ></span></li>
 		    	<li><label>总金额:</label><span id="totalAmount"></span></li>
 		    	<li><label>已付金额:</label><span id="payAmount"></span></li>
 		    	<li><label>状态:</label><span id="status"></span></li>
 		    	<div class="form-title"><span>商品信息</span></div>
 		    	<div id="tableList"></div>
 		    	<li><label><b>*</b>金额:</label><input type="text" id="amount" name="amount" class="control-def" readonly="true" onkeyup="checknum(this);"/></li>
 		    	<li><label><b>*</b>打款方式:</label><select id="fromType" name="fromType" class="control-def"></select></li>
 		    	<li><label><b>*</b>打款账号:</label><input type="text" id="fromCode" name="fromCode" class="control-def"/></li>
 		    	<!--  <li><label><b>*</b>打款时间:</label><input id="accountNumber" name="accountNumber" class="lay-input" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})"/></li>-->
 		    	<li><label><b>*</b>水单:</label><input type="file" id="pdf" name="file"/>
 		    	<input id="uploadBtn1" type="button" value="上传" class="btn"/><br/><a id="url1" href="" target="_blank" class="margin-left-100"></a></li>
 		    	<li><label><b>*</b>受款账号:</label><select id="toCardNo" name="toCardNo" class="control-def"></select></li>
 		    	<li><label>受款方:</label><span id="shoukuang"></span></li>
 		    	<li><label><b>*</b>备注:</label><input type="text" id="approveNote" name="approveNote" class="control-def"/></li>
			    <li>
			        <input id="subBtn" type="button" class="btn margin-left-60" value="提交"/><input id="backBtn" type="button" class="btn margin-left-60" value="返回"/>
			    </li>
			</ul>
	    </div>
    </form>
</body>
</html>