<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>购买申请</title>
<#include 'layout/resources.html'/>
<!-- js脚本 -->
<script type="text/javascript" src="${resourceUrl}/resources/common/js/ajaxfileupload.js?version=${version}"></script>
<script type="text/javascript" src="${resourceUrl}/resources/account/js/shangjia-apply.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
    <div class="place">
      	<span>位置</span>
      	<ul>
      		<li>积分管理</li>
      		<li>积分采购</li>
      		<li>购买申请</li>
      	</ul>
    </div>
    <form id="jsForm" >
    	<div class="form-body">
    		<div class="form-title"><span>积分购买</span></div>
    		<ul class="form-info">
    			<li><label><b>*</b>积分:</label><input type="text" id="amount" name="amount" class="control-def"/></li>
    			<li><label><b></b>人民币:</label><span id="price"></span></li>
    			<li><label><b>*</b>付款凭证:</label><input type="file" id="pdf" name="file"/>
 		    	<input id="uploadBtn1" type="button" value="上传" class="btn"/><br/><a id="url1" href="" target="_blank" class="margin-left-100"></a></li>
 		    	<li><label><b>*</b>备注（菜狗联系人）:</label><input type="text" id="applyNote" name="applyNote" class="control-def"/></li>
    			<li><input type="button" id="subBtn" class="btn margin-left-100" value="提交"/><input type="button" id="backBtn" class="btn margin-left-20" value="返回"/></li>
    		</ul>
    	</div>
    </form>
</body>
</html>