<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Expires" content="0"/>
<meta http-equiv="X-UA-Compatible" content="IE=8"/>
<title>取现审批</title>
<#include 'layout/resources.html'/>
<script type="text/javascript" src="${resourceUrl}/resources/account/js/withdraw-approve.js?version=${version}"></script>
</head>
<body>
    <#include 'layout/hidden_ares.html'/>
	<div class="place">
    	<span>位置：</span>
	    <ul>
	    	<li>财务管理</li>
	    	<li>取现</li>
	    	<li>取现审批</li>
   		</ul>
    </div>
    <form id="jsForm">
	    <div class="form-body">
	    <div class="form-title"><span>取现信息</span></div>
		    <ul class="form-info">
			    <li><label>订单编号:</label><span id="withdrawNo"></span></li>
			    <!-- <li><label>手机号:</label><span id="mobile"></span></li>
			    <li><label>真实姓名:</label><span id="realName"></span></li> -->
			    <li><label>账户编号:</label><span id="accountNumber"></span></li>
			    <li><label>开户支行:</label><span id="toBelong"></span></li>
			    <li><label>类型:</label><span id="bankCode"></span></li>
			    <li><label>账号:</label><span id="bankcardNo"></span></li>
			    <li><label>状态:</label><span id="status"></span></li>
			    <li><label>金额:</label><span id="amount"></span></li>
			    <li><label>申请时间:</label><span id="createDatetime"></span></li>
			    <li><label><b>*</b>备注:</label><input type="text" id="remark" name="remark" class="control-def"/></li>
			    <li><input id="passBtn" type="button" class="btn margin-left-100" value="通过"/><input id="noPassBtn" type="button" class="btn margin-left-40" value="不通过"/><input id="backBtn" type="button" class="btn margin-left-40" value="返回"/></li>
			</ul>
	    </div>
    </form>
</body>
</html>
